@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(#f6e1c4, #f3d09e);
    color: #302b23;
    min-height: 100vh;
}

#app {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 40rem;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(#2a2722, #413c35);
    color: #f4e9d7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

h1 {
    letter-spacing: 0.15rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#app>p {
    margin: 0;
    color: #b3aa9c;
}

ul {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}

li {
    margin: 1rem auto;
    padding: 0.5rem;
    max-width: 20rem;
    background: #fbd9a3;
    color: #302b23;
    border-radius: 4px;
    text-align: left;
}

li h2,
li p {
    margin: 0;
}

li h2 {
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #736957;
    margin-bottom: 0.5rem;
}

li p {
    font-size: 0.9rem;
    color: #474034;
}